In [5]:
import pandas as pd 
df=pd.read_csv("C://Users//sinci//Downloads//DIABETES.csv")
#df.dtypes()
df.head()

for col in df.columns:
    print(f"Column '{col}': {df[col].dtype}")

Column 'Diabetes': int64
Column 'Age': int64
Column 'GenDER': object
Column 'BMI': float64
Column 'BP': float64
Column 'Total Cholesterol': int64
Column 'LDL': float64
Column 'HDL': float64
Column 'TCH': float64
Column 'LTG': float64
Column 'Glucose': int64

In [7]:
rows, columns = df.shape
print(f"The dataset has {rows} rows and {columns} columns.")

The dataset has 443 rows and 11 columns.

In [9]:
df.isnull().sum()

Diabetes             0
Age                  0
GenDER               0
BMI                  0
BP                   0
Total Cholesterol    0
LDL                  0
HDL                  0
TCH                  0
LTG                  0
Glucose              0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Diabetes           443 non-null    int64
 1   Age                443 non-null    int64
 2   GenDER             443 non-null    object
 3   BMI                443 non-null    float64
 4   BP                 443 non-null    float64
 5   Total Cholesterol  443 non-null    int64
 6   LDL                443 non-null    float64
 7   HDL                443 non-null    float64
 8   TCH                443 non-null    float64
 9   LTG                443 non-null    float64
 10  Glucose            443 non-null    int64
dtypes: float64(6), int64(4), object(1)
memory usage: 38.2+ KB

In [13]:
df.describe()

,Diabetes,Age,BMI,BP,Total Cholesterol,LDL,HDL,TCH,LTG,Glucose
count,443.000000,443.000000,443.000000,443.000000,443.000000,443.000000,443.000000,443.000000,443.000000,443.000000
mean,151.918736,48.489842,26.360497,94.593634,189.277652,115.479233,49.895034,4.067833,4.641306,91.261851
std,77.138283,13.107690,4.424847,13.861235,34.689601,30.390375,13.112839,1.289992,0.521804,11.483376
min,25.000000,19.000000,18.000000,62.000000,97.000000,41.600000,22.000000,2.000000,3.258100,58.000000
25%,86.500000,38.000000,23.150000,84.000000,164.500000,96.100000,40.500000,3.000000,4.276700,83.500000
50%,140.000000,50.000000,25.700000,93.000000,186.000000,113.000000,48.000000,4.000000,4.615100,91.000000
75%,211.000000,59.000000,29.250000,105.000000,210.500000,134.400000,58.000000,5.000000,4.997200,98.000000
max,346.000000,79.000000,42.200000,133.000000,301.000000,242.400000,99.000000,9.090000,6.107000,124.000000

In [17]:
numeric_df = df.select_dtypes(include=['number'])
range_values = numeric_df.max() - numeric_df.min()
variance_values = numeric_df.var()
std_dev_values = numeric_df.std()
iqr_values = numeric_df.quantile(0.75) - numeric_df.quantile(0.25)

print("Range:\n", range_values)
print("\nVariance:\n", variance_values)
print("\nStandard Deviation:\n", std_dev_values)
print("\nInterquartile Range (IQR):\n", iqr_values)

Range:
 Diabetes             321.0000
Age                   60.0000
BMI                   24.2000
BP                    71.0000
Total Cholesterol    204.0000
LDL                  200.8000
HDL                   77.0000
TCH                    7.0900
LTG                    2.8489
Glucose               66.0000
dtype: float64

Variance:
 Diabetes             5950.314648
Age                   171.811548
BMI                    19.579273
BP                    192.133846
Total Cholesterol    1203.368436
LDL                   923.574907
HDL                   171.946536
TCH                     1.664079
LTG                     0.272279
Glucose               131.867931
dtype: float64

Standard Deviation:
 Diabetes             77.138283
Age                  13.107690
BMI                   4.424847
BP                   13.861235
Total Cholesterol    34.689601
LDL                  30.390375
HDL                  13.112839
TCH                   1.289992
LTG                   0.521804
Glucose              11.483376
dtype: float64

Interquartile Range (IQR):
 Diabetes             124.5000
Age                   21.0000
BMI                    6.1000
BP                    21.0000
Total Cholesterol     46.0000
LDL                   38.3000
HDL                   17.5000
TCH                    2.0000
LTG                    0.7205
Glucose               14.5000
dtype: float64

In [19]:
numeric_df = df.select_dtypes(include=['number'])

mean_values = numeric_df.mean()
median_values = numeric_df.median()
mode_values = numeric_df.mode().iloc[0]

print("Mean:\n", mean_values)
print("\nMedian:\n", median_values)
print("\nMode:\n", mode_values)

Mean:
 Diabetes             151.918736
Age                   48.489842
BMI                   26.360497
BP                    94.593634
Total Cholesterol    189.277652
LDL                  115.479233
HDL                   49.895034
TCH                    4.067833
LTG                    4.641306
Glucose               91.261851
dtype: float64

Median:
 Diabetes             140.0000
Age                   50.0000
BMI                   25.7000
BP                    93.0000
Total Cholesterol    186.0000
LDL                  113.0000
HDL                   48.0000
TCH                    4.0000
LTG                    4.6151
Glucose               91.0000
dtype: float64

Mode:
 Diabetes              72.0000
Age                   53.0000
BMI                   23.5000
BP                    83.0000
Total Cholesterol    162.0000
LDL                  114.8000
HDL                   46.0000
TCH                    3.0000
LTG                    4.4427
Glucose               92.0000
Name: 0, dtype: float64